body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: #eef2f6ef; */
    background-color: #ff5f1a05;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Varela Round", sans-serif !important;
    font-weight: 500;
    font-style: normal;
}

p,
span,
td,
th,
input,
button,
label,
a {
    font-family: "Varela Round", sans-serif !important;
    font-style: normal;
}

p {
    margin-bottom: 0px !important;
}

input:focus {
    border-color: #ff5f1a5d !important;
    box-shadow: 0 0 0 0.15rem #ff5f1a80 !important;
}

.custom-header,
.css-gl260s-MuiDataGrid-columnHeadersInner,
.css-1iyq7zh-MuiDataGrid-columnHeaders,
.css-y599qu {
    background-color: #ff5e1a !important;
    color: white !important;
    font-size: 13px !important;

}

.css-az8st9-MuiDataGrid-root .MuiDataGrid-row {
    font-size: 12px !important;
}

.css-qvtrhg-MuiDataGrid-virtualScroller::-webkit-scrollbar,
.css-1pzb349::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    /* Width of the scrollbar */
}

.css-qvtrhg-MuiDataGrid-virtualScroller::-webkit-scrollbar-track,
.css-1pzb349::-webkit-scrollbar {
    background: #e9e9e9 !important;
    /* Color of the track */
}

.css-qvtrhg-MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb,
.css-1pzb349::-webkit-scrollbar {
    background: #ff5f1a44;
    /* Color of the scrollbar handle */
    border-radius: 6px;
    /* Rounded corners */
}



.css-qvtrhg-MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb:hover,
.css-1pzb349::-webkit-scrollbar {
    background: #ff5e1a !important;
    /* Darker color on hover */
}

.css-de9k3v-MuiDataGrid-selectedRowCount,
.css-eozsn7 {
    visibility: hidden !important;
}

.css-az8st9-MuiDataGrid-root .MuiDataGrid-row.Mui-selected,
.css-g1du22 .MuiDataGrid-row.Mui-selected {
    background-color: #ff5f1a0a;
}

/* -------------- */

/* ---------------------------------------------------------------------------------------------------------------------- */


@media only screen and (max-width:600px) {
    .banner {
        width: 60%;
        display: none;
    }

    .login-section {
        width: 100%;
    }

    .login-container {
        width: 95%;
    }

}

@media only screen and (min-width:998px) {
    .banner {
        width: 60%;
        display: block;
    }

    .login-section {
        width: 40%;
    }

    .login-container {
        width: 60%;
    }


}

@media only screen and (min-width:1400px) {}


.login-body {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #ff5f1a14;
}


.login-container {
    display: flex;
    justify-content: start;
    border-radius: 15px;
    background-color: white;
    height: 400px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.banner img {
    height: 90%;
    width: 100%;
    margin-top: 30px;
    object-fit: contain;
}



input.login-form {
    width: 100%;
    border: 1px solid black;
    line-height: 2;
    border-radius: 50px;
    padding-left: 50px;
    outline: none;
    box-shadow: 0px 0px 0px 0px white !important;
}

input.login-form::placeholder {
    color: #ff5e1a;
}

.from-container {
    position: relative;
}

.from-container .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.from-container .icon-r {
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    right: 20px;
    color: #ff5f1a;
}


.login-btn {
    border: none;
    width: 100%;
    line-height: 2.2;
    border-radius: 8px;
    background-color: #ff5f1a;
    font-weight: 500;
    color: white;
}

.login-text-pass {
    font-size: 10px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-left: 15px;
    letter-spacing: 1px;
    text-align: center;

}

.login-section {
    position: relative;
}

.login-section h5 {
    /* font-weight: 700; */
    text-align: center;
    font-family: 'Baloo Bhaina 2', sans-serif;
}


.header-font {
    font-family: 'Baloo Bhaina 2', sans-serif;

}

.login-section .card-text {
    margin-bottom: 40px;
    text-align: center;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;

}

.subheader-font {
    font-family: 'Nunito', sans-serif;
}

.warning-message {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(0);
    color: white;
    background-color: #dc3545;
    line-height: 2;
    padding: 0px 10px;
    border-radius: 2px;
    font-weight: 500;
    width: max-content;
    top: 10px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform-origin: top;
}

.warning-add {
    opacity: 1;
    transform: translateX(-50%) scaleY(1);
}

.warning-message .icon {
    margin-bottom: 4px;
    font-size: 20px;
}

.forgot-popup {
    position: absolute;
    height: 0vh;
    width: 0%;
    backdrop-filter: blur(25px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}


@media only screen and (max-width:600px) {


    .feropen {
        height: 200px;
        width: 90%;
        opacity: 1;
        padding: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: visible;
    }
}

@media only screen and (min-width:998px) {

    .feropen {
        height: 200px;
        width: 20%;
        opacity: 1;
        padding: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: visible;
    }
}

.close-icon {
    cursor: pointer;
}

/* --------------------------------------------------------------------------------------------------------------------- */
.top-bar .menu-icon {
    padding: 5px;
    color: black;
    cursor: pointer;
    font-size: 35px;
    position: fixed;
    left: 5px;
}

.start-container {
    display: flex;
    align-items: center;
}

.nav-logo {
    margin: 0px;
    letter-spacing: 1px;
    color: black;
}

.top-bar {
    position: fixed;
    display: flex;
    height: 65px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    z-index: 1111111111;
    background-color: white;
    border-bottom: 1px solid #dee2e6;
}


.side-bar {
    position: fixed;
    overflow: hidden;
    width: 200px;
    height: 95vh;
    bottom: 0px;
    background-color: white;
    transition: all 0.2s ease-in-out;
    box-shadow: 3px -2px 14px 0px #2125291a;
}

.sidetoggle {
    width: 50px;
}


.main-content {
    position: absolute;
    /* left: 50px;
      width: calc(100% - 50px); */
    left: 200px;
    width: calc(100% - 200px);
    padding: 100px 30px 0px 30px;
    transition: all 0.2s ease-in-out;
}

.maintoggle {
    left: 50px;
    width: calc(100% - 50px);
}


.menu {
    list-style-type: none;
    margin: 0px;
    padding: 40px 0px;
}

.menu .items {
    padding: 10px 0px 10px 10px;
}

.items {
    color: black;
    background-color: #fff;
    margin: 8px 0px 8px 8px;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
}

.items .icons {
    color: black;
}

.items:hover {
    color: #ff5e1a;
    background-color: #ff5f1a11;
    border-radius: 50px 1px 1px 50px;
}

.active {
    background-color: #ff5f1a48 !important;
    color: #ff5e1a;
    border-radius: 50px 1px 1px 50px;
    box-shadow: 0px 0px 20px 0px #21252914;
}

.items .icons {
    margin-bottom: 4px;
    font-size: 17px;
    color: #ff5e1a !important;
}

.disble-decoration {
    text-decoration: none;
}

.resp {
    position: absolute;
    width: max-content;
    left: 50px;
    transition: all 0.3s ease-in-out;
}




.menu .items-drop {
    padding: 10px 0px 10px 10px;
}

.items-drop {
    color: black;
    background-color: #fff;
    margin: 8px 0px 8px 8px;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
}

.items-drop .icons {
    color: black;
}

.items-drop:hover {
    color: #ff5e1a;
    background-color: #ff5f1a11;
    border-radius: 5px 1px 1px 5px;
}

.active-drop {
    background-color: #ff5f1a48 !important;
    color: #ff5e1a;
    border-radius: 5px 1px 1px 5px;
    box-shadow: 0px 0px 20px 0px #21252914;
    height: 100px !important;
}

.items-drop .icons {
    margin-bottom: 4px;
    font-size: 17px;
    color: #ff5e1a !important;
}



.items-drop:hover .resp,
.items-drop:hover .resp {
    color: #ff5e1a;
}

.submenu {
    list-style-type: none;
    padding: 5px 0px;
    margin-top: 8px;
}

.submenu li {
    padding: 5px 0px;
    font-weight: 500;
    color: black;
}

.droplink-text {
    color: black;
}

.dropmenu {
    height: 45px;
    overflow: hidden;
}

.link-active {
    color: #ff5e1a !important;
}

.opensubmenu {
    height: 110px;
}

.logo Img {
    height: auto;
    width: 40px;
    padding: 5px 0px;
}

.top-menu-bar ul {
    padding: 0px;
    list-style-type: none;
    display: flex;
    margin: 0px;
}

.top-menu-bar ul li {
    font-weight: 500;
    margin: 0px 5px;
    padding: 0px 5px;
    color: black;
}



.footer-body {
    position: fixed;
    left: 50px;
    width: calc(100% - 50px);
    bottom: 0px;
    z-index: 111;
    background-color: black;
}

.footer p {
    margin: 0px;
    text-align: center;
    font-size: 14px;
    line-height: 3;
    color: white;
}

.margin-0 {

    margin: 0px !important;
}


a {
    text-decoration: none !important;
    color: inherit;
}

.text-sm {
    font-size: 13px;
}

.font-w-500 {
    font-weight: 500;
}

.font-w-600 {
    font-weight: 600;
}

.btn-bg-orange {
    background-color: #ff5e1a;
    color: white;
}

.t-theme-color {
    color: #ff5e1a;
}

.btn-bg-orange:hover {
    border: 1px solid #ff5e1a;
    color: #ff5e1a;

}

.t-color-gray {
    color: gray;
}

.warning {
    color: rgb(255, 78, 24);
    margin: 0px 10px;
    font-weight: 500;
    font-size: 12px;
}

.img-format {
    height: 200px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
}

.img-format-ownerphoto {
    height: 200px;
    width: 160px;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
}

.img-format-ownersign {
    height: 64px;
    width: 256px;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
}

.img-format img,
.img-format-ownerphoto img,
.img-format-ownersign img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
    /* border: 1px solid #e0e0e0; */
}


.admin-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 20px 6px #00000008;
    transition: all 0.1s ease-in-out;
    overflow: hidden;

}

.admin-card:hover {
    box-shadow: 8px 20px 20px 15px #00000008;
    border-right: 0px solid white !important;

}

.admin-card h5 {
    margin: 0px;
    font-family: 'Rubik', sans-serif;
    z-index: 1;
    color: #7a7a7a;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    padding-bottom: 10px;
}

.admin-card:hover h5 {
    color: white !important;
    margin: 0px;
}

.admin-card .icons {
    font-size: 60px;
    /* color: #ff3e57; */
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.admin-card:hover .icons {
    color: white !important;
}

.details {
    z-index: 1111;
}

.card-bg {
    position: absolute;
    height: 0px;
    width: 0%;
    top: 0px;
    left: 0px;
    border-radius: 10px 10px 0px 0px;
    transition: all 0.3s ease-in-out;
    opacity: 0;


}

.admin-card:hover .card-bg {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    opacity: 1;
}

.circle1 {
    position: absolute;
    left: -76px;
    bottom: -60px;
    height: 0px;
    width: 0px;
    clip-path: circle(50% at 50% 50%);
    opacity: 0;
    transition: all 0.4s ease-in-out;

}

.circle2 {
    position: absolute;
    top: 85px;
    left: -76px;
    height: 0px;
    width: 0px;
    clip-path: circle(50% at 50% 50%);
    opacity: 0;
    transition: all 0.8s ease-in-out;

}

.admin-card:hover .circle1 {
    left: -38px;
    bottom: -6px;
    opacity: 0.7;
    height: 70px;
    width: 70px;

}

.admin-card:hover .circle2 {
    top: 51px;
    left: -3px;
    opacity: 0.7;
    width: 70px;
    height: 70px;

}

.admin-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0vh;
    width: 0%;
    backdrop-filter: blur(3px);
    z-index: 11;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

.openadminform {
    height: 100vh;
    width: 100%;
    transition: all 0.5s ease-in-out;
    visibility: visible;
    opacity: 1;
}

.admin-form {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0px 0px 4px 0px #00000036;
    border-radius: 10px;

}



.admin-inputfield input {
    border-radius: 10px;
    border: 1px solid gray;
    padding: 8px 0px 8px 20px;
    margin: 5px 0px;
}

.b-radius-5 {
    border-radius: 5px !important;
}

.b-radius-10 {
    border-radius: 10px !important;
}

.b-radius-50 {
    border-radius: 50px !important;
}

.btn-outline-warning:hover {
    color: white !important;
}

/* state and district select fields */
.stsearch-box input {
    width: 100%;
    box-sizing: border-box;
    padding: 0px !important;
    border: none !important;
    border-radius: 5px;
    outline: none !important;
}

.main-field {
    position: relative;
    overflow: hidden;
}

.actionbutton {
    position: absolute;
    top: -50px;
    right: 20px;
    background-color: #ff6423;
    font-size: 10px;
    padding: 5px;
    color: white;
    width: 100px;
    border-radius: 50px;
    font-weight: 200;
    text-align: center;
    box-shadow: 0px 0px 13px 0px #0000004d;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0px;
    letter-spacing: 1px;
    transform: scale(0);
}

.main-field:hover .actionbutton {
    top: 10px;
    right: 10px;
    transform: scale(1);
}

.actionbutton .icon {
    font-size: 15px;
    margin-bottom: 1px;
}

.submenu li {
    font-size: 13px;
}

.border-r-10 {
    border-radius: 10px !important;
}


.border-r-5 {
    border-radius: 5px !important;
}

.details h2 {
    font-size: 35px;
}

.file-data {
    font-size: 12px;

    /* background-color: rgb(36, 36, 36); */
    background-color: #ff6423;
    color: white;
    line-height: 2;
    padding: 0px 5px;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 1px;
}

.file-data-outline {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid #ff6423;
    color: #ff6423;
    line-height: 2;
    padding: 0px 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.file-data-outline:hover {
    background-color: #ff6423;
    color: white;
}

.bread-parent {
    position: relative;
}

.filter-card {
    position: absolute;
    right: 0px;
    top: 105%;
    opacity: 0;
    background-color: white;
    z-index: 1111;
    transition: all 0.3s ease-in-out;
    transform-origin: top;
    transform: scaleY(0);
    visibility: hidden;
}

.openfilter {
    opacity: 1;
    transform: none;
    visibility: visible;
}

input.filter-fields,
select.filter-fields {
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    width: 170px;
    margin: 10px 0px;
    color: #000000;
    box-shadow: 0px 0px 0px 0px white !important;
    padding: 5px;
}

select.filter-fields {
    width: 100% !important;
}

.filter-card p {
    margin-top: 10px;
    line-height: 2.5;
    padding: 2px;
    border-radius: 8px;
    background-color: #ff5e1a;
    color: white;
    text-align: center;
}

.letter-spacing-1 {
    letter-spacing: 1px !important;
}

.topbar-thumb {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.notify {
    height: 40px;
    width: 40px;
    background-color: #ff5f1a4b;
    border-radius: 100px;
    position: relative;
}

.notify .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff5e1a;
    font-size: 20px;
}

.status p {
    font-size: 10px;
    color: rgb(167, 167, 167);
    margin: 0px;
    letter-spacing: 1px;
}

.status .tag {
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 10px;
}

.form-check-input:checked {
    background-color: #ff5e1a;
    border-color: #ff5e1a;
}

.border-1px {
    border: 1px solid rgb(201, 201, 201);
}

.download-btn {
    border: none;
    color: white;
    background-color: #ff5e1a;
    border-radius: 50px;
    font-size: 15px;
    padding: 0px 10px;
}

.download-btn .icon {
    font-size: 20px;

}

.success-alert {
    position: fixed;
    top: 0%;
    z-index: 1111111;
    height: 100%;
    width: 100%;
    transform: scale(0);
    backdrop-filter: blur(6px);
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.open-alert {
    transform: scale(1);
    transition: all 0.2s ease-in-out;

}

.success-alert .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    width: 30%;
    padding: 20px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #0000001c;

}

.success-alert .icon {
    font-size: 60px;
    color: #ff6423;
}

.gaige-header {
    position: absolute;
    font-size: 13px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.manditory {
    position: absolute;
    right: -9px;
    font-size: 29px;
    top: -2px;
    color: #dc3545;
}

.gen-button {
    border: none;
    height: 34px;
    background-color: #ff5e1a;
    color: white;
    border-radius: 3px;
}


input.btn-outline-theme {
    outline: none;
    color: #ff5e1a;
    font-size: 15px;
    border: 1px solid #ff5e1a;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
}

input.btn-outline-theme::placeholder {
    color: #ff5e1a;

}

.t-theme{
    color: #ff6423;
}

.t-gray{
    color: gray !important;
}

.border-t-orange{
border-top: 10px solid #ff5e1a;
}

.t-md{
    font-size: 18px !important;
}

.t-lg{
font-size: 20px;
}

.t-black{
    color: black;
}

.table-dark{
--bs-table-bg: #ff5e1a !important;
--bs-table-border-color:var(--bs-table-bg);
}

.table-dark th{
    font-weight: 300;
}

.t-xxlg{
    font-size: 45px;
    font-weight: 500;
    color: gray;
}